@import url(../assets/styles/week_style.css);

.img-and-text {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-top: 3%;
}

.img-and-text p {
    margin-top: 0;
}