@import url(../../assets/styles/normalize.css);




/* for question 2 */
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    gap: 10px;
    margin: 0 10px;
    background-color: #cecece;
}

.desrip-2 {
    grid-row: 1 / 2;
    grid-column: 1/ 6;
    background-color: #d0dbfa;
    border: #000000 2px solid;
}

.grid-2-1,
.grid-2-2,
.grid-2-3,
.grid-2-4,
.grid-2-5 {
    background-color: #5579e0;
    border: #000000 2px solid;
}