* {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
}

.logo-header {
    margin: 0.5em;
    padding: 0.25em 0.5em;
    /* fonts */
    font-family: 'Patrick Hand', sans-serif, serif;
    font-size: 2.2em;
    letter-spacing: 0.25em;
    /* after delete */
    background-color: #f8f8f8;
    border: none;
    border-radius: 0.4em;
}

.navigation-header {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.navigation-header div {
    margin: 0.5em;
    padding: 0.5em 1em;
    max-width: 100%;
    text-align: center;
    background-color: #f8f8f8;
    border: none;
    border-radius: 0.3em;
}

.navigation-header div a {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #545454;
    text-decoration: none;

}

.navigation-header div:hover {
    background-color: #c5c5c5;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #e1e1e1;
}

footer>div {
    /* element */
    flex: 0 1 100%;
    max-width: 100%;
    margin: 0.8em;
    padding: 0.1em;
    background-color: #fafafa;
    border: none;
    border-radius: 0.3em;
}

.main-container {
    display: flex;
}

/*  */
.left-box-container {
    /* container */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* element */
    flex: 0 1 75%;
    padding: 1%;
    background-color: #fff8e5;
}

/* element for left-box */
.element-description {
    flex: 0 1 100%;
    /* min-height: 10%; */
    max-height: 30%;
    max-width: 100%;
    padding: 2.5em;
}

.element-week-1,
.element-week-2,
.element-week-3,
.element-week-4,
.element-week-5 {
    margin-top: 1em;
    padding: 1.5em;
    min-width: 200px;
    min-height: 250px;
    /*  */
    background-color: #fdeabd;
    border: none;
    border-radius: 1em;
}

.element-week-1,
.element-week-2,
.element-week-3,
.element-week-4 {
    flex: 0 1 49%;
    margin-top: 1em;
}

.element-week-2,
.element-week-4 {
    margin-left: 1%;
}

.element-week-1,
.element-week-3 {
    margin-right: 1%;
}

.element-week-5 {
    flex: 0 1 100%;
}

/*  */
.right-box-container {
    /* container */
    display: flex;
    flex-direction: column;
    /* element */
    flex: 0 1 25%;
    background-color: #deeccd;
}

/* element for right-box */
.right-box-container div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    min-height: 200px;
    max-width: 100%;
    background-color: #eff7eb;
    border: none;
    border-radius: 1em;
}

.right-box-img-hover,
.right-box-img-hover-2,
.right-box-img-hover-3,
.right-box-img-hover-4 {
    flex: 0 1 100%;
    max-width: 100%;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.right-box-img-hover {
    background-image: url("../../assets/images/week-1.png");
}

.right-box-img-hover-2 {
    background-image: url("../../assets/images/page-blog.png");
}

.right-box-img-hover-3 {
    background-image: url("../../assets/images/business-card.png");
}

.right-box-img-hover-4 {
    background-image: url("../../assets/images/dashboard.png");
}

.right-box-img-hover:hover,
.right-box-img-hover-2:hover,
.right-box-img-hover-3:hover,
.right-box-img-hover-4:hover {
    background-image: url("../../assets/images/week-hover.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.right-box-container p {
    font-size: 1em;
}

h2 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.description-left-box {
    font-size: 2em;
}

p {
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.ps-text-right {
    text-align: right;
}

.date-left-box {
    margin-top: 0.2em;
    font-size: 1em;
    text-align: right;
    color: #078618;
}

footer p {
    text-align: center;
}